<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="input dir">Input</entry>
<entry key="output dir">Output</entry>
<entry key="record size">200</entry>
<entry key="replica">2</entry>
<entry key="reducer num">2</entry>
</properties>